@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  --primary: #7898FF;
  --secondary: #8E64C5;
  --app-grey: #F2F2F2;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #F6F6F6;
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:disabled {
  background: var(--app-grey);
}

.errorMsg {
  visibility: hidden;
}

.skeleton-box {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #DDDBDD;
}

.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  animation: shimmer 2s infinite;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.avisoErro {
  background-color: #ffe4e3;
  padding: 6px;
  border-radius: 6px;
  color: black;
}

.skeleton-conteiner {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.skeleton-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 1em 2em;
  box-shadow: 2px 2px 5px lightgrey;
  animation: loadingContainerAnimation 2s linear infinite;
}

.skeleton-text {
  animation: loadingTextAnimation 2s linear infinite;
  width: 150px;
  display: block;
  padding: 0.7rem;
}

@keyframes loadingContainerAnimation {
  0% {
    background: white;
  }

  50% {
    background: rgb(182, 177, 177);
  }

  100% {
    background: white;
  }
}

@keyframes loadingTextAnimation {
  0% {
    background: white;
  }

  50% {
    background: rgb(128, 123, 123);
  }

  100% {
    background: white;
  }
}